<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>새해복 많이받아 ~</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">윤하♡</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">우리가 만난 장소</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">세뇌어록</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/main.jpeg" style="width: 300px; height:auto;" alt="">
                    <div class="intro-text">
                        <span class="name">2017년 두둥두둥♡</span>
                        <hr class="star-light">
                        <span class="skills">정유년 ! 윤하야 새해복 많이 받아~</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>2016년 윤하와 만난 곳</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/1.png" class="img-responsive" style="width: 350px; height: 350px;" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/2.png" style="width: 350px; height: 350px;" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/3.png" style="width: 350px; height: 350px;" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/6.png" style="width: 350px; height: 350px;" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/5.png" style="width: 350px; height: 350px;" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/7.jpeg" style="width: 350px; height: 350px;" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>이것만은 기억하자! 세뇌어록!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <li>
                <h3>Step 1.</h3><br>
                <h3>윤하야..우리..빨간 밧줄로 이어져있어!</h3>
            </li>
            <li>
                <h3>Step 2.</h3><br>
                <h3>윤하야..오빠..엔.지.니.어.야 (강조)</h3>
            </li>
            <li>
                <h3>Step 3.</h3><br>
                <h3>윤하야..오빠...일직선이야!</h3>
            </li>
        </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>첫 만남 ! 미팅한 날</h2>
                            <hr class="star-primary">
                            <img src="img/1.png" class="img-responsive img-centered" alt="">
                            <p>이날은 우리가 처음 본 날이였지~~~~ 문열고 들어올 때부터 시선 집중이였어ㅋㅋ다음 날에 연락할 때 얼마나 떨렸는지 몰라</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016. 12. 09
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>두 번째 만남, 런던티</h2>
                            <hr class="star-primary">
                            <img src="img/2.png" class="img-responsive img-centered" alt="">
                            <p>처음 만나고 2주만에 만난 날이야 ㅋㅋㅋ 시험기간 고생하고 만나서 더 신났던 거 같아. 이날 우리가 메세나폴리스에 괜찮은 장소 2곳을 발견한 날이야.
                            특히, 런던티에서 케이크는 어마어마했지ㅋㅋㅋㅋㅋ</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016. 12. 22
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>세 번째 만남, 수원 롯데몰</h2>
                            <hr class="star-primary">
                            <img src="img/3.png" class="img-responsive img-centered" alt="">
                            <p>ㅋㅋㅋㅋ 크리스마스 이브~ 이날은 진짜 사람이 많았어 ㅋㅋ 오빠가 30분이나 늦어서 얼마나 초조했는지 ㅋㅋㅋㅋㅋㅋ
                            2016년 탑 3의 긴장감이였지 ㅋㅋㅋㅋㅋ 그리고 저녁도 웨이팅이 1시간 30분이나~~ 그래도 서점도 들리고 토이저러스에서 구경하고 웃고 떠드느라 시간이
                                금방갔어 ㅋㅋㅋㅋㅋ 특히 토이저러스에서는 우리가 애들보다 더 신났지 ㅋㅋㅋㅋㅋ 집에 가는 길에 공사장도 공사장처럼 안느껴지고 수원역에서 지하철
                                기다려줄 때 , 갑작스럽게 나타나신 아주머니가 우리가 서로 커플인줄 알고 말씀하셨을 때 속으로 기분이 좋았지 (헤헿~)
                                그리고 이날 윤하가 좋아할까 하고 긴장하며 준비한 선물을 너무너무너무너무 좋아해줘서 기분이 최고였어♡
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016. 12. 24
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>여섯 번째 만남, 윤하네 언니 처음 만난 날</h2>
                            <hr class="star-primary">
                            <img src="img/7.jpeg" class="img-responsive img-centered" alt="">
                            <p>ㅋㅋㅋㅋ 이 날은 ㅋㅋㅋㅋㅋ! 말로만 듣던 윤하네 언니 처음 만난 날이야~ 항상 얘기 들어보면 너무 사이좋은
                            자매라고 생각했어 그리고 만나 뵙고 싶었고~ 원래는 좀 더 나중에 볼줄 알았는데! 우리는 원래 항상 갑작스러우니까 ㅋㅋㅋㅋ
                            이 날 만나게 뵙게 됬지! ㅋㅋㅋㅋ 윤하네 언니 오시기 전에 10분동안 윤하도 긴장하는 모습보고 너무 웃겼어 ㅋㅋㅋ
                            혹시나 오빠가 실수한 건 없을까 하고 집에 가면서도 걱정 많이 했지만! 다음번에는 좀 더 좋은 모습 보여드릴 수 있을 거
                            같다고 생각했어! 다음에는 같이 맛있는 것도 먹으면서 더 많은 얘기해야겠다 그치?!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016. 12. 30
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>다섯 번째 만남, 우리가 처음 시작한 날~</h2>
                            <hr class="star-primary">
                            <img src="img/5.png" class="img-responsive img-centered" alt="">
                            <p>이 날은 우리한테는 특별한 날이야 우리가 만나기로 한 날이니까 ㅋㅋㅋ 지금도 생각하면 부끄럽다.
                                윤하가 호주랑 베트남 가기전에 꼭 윤하랑 아는 오빠 동생사이가 아니라, 더 가까운 사이가 되고 싶었어.
                                좀 더 멋있게 고백하고 싶었는데 그러지 못한건 아쉽지만! 그래도 윤하가 오빠 마음 알아주고, 이해해줘서 너무 좋았어.
                                윤하의 그런 모습에 항상 오빠가 반하는 거 같아.
                                이 날 설레였던 마음 항상 간직하면서 앞으로도 사이좋게 지내자♡</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2014. 12. 27
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>다섯번째 만남, 친구네 다락방 </h2>
                            <hr class="star-primary">
                            <img src="img/5.png" class="img-responsive img-centered" alt="">
                            <p>ㅋㅋ이 날은 우리가 사귀기 전부터 얘기했던 만화책방 갔던 날이야 ㅋㅋ 처음 들어갈때는 사람이 너무 많은거 같아서 당황했는데
                                1층에 우리가 만화책 볼 자리도 딱 있고 같이 만화책 보면서 너무 재밌게 보냈어 ㅋㅋㅋㅋㅋ (만화책 추천 잘했지ㅎㅎ) 겁쟁이 페달은
                                다음 만화책방 데이트에서 귤먹으면서 정주행하자!!!</p>                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>2016. 12. 29
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
